<h3><%= l(:label_testcase_management) %></h3>

<ul>
  <li><%= link_to l(:label_test_cases), project_test_cases_path %></li>
  <li><%= link_to l(:label_test_plans), project_test_plans_path %></li>
</ul>

<%= call_hook(:view_test_plans_sidebar_bottom) %>
